


h1{
    text-align: center;
    border: 5px solid rgb(13, 10, 216);
    color: blue;
    font-family: verdana;
    font-size: 200%;
}

body {
    background-color: powderblue;
    
}


h2 {
    color: black;
    font-family: Verdana;
    font-size: 200%;
}


p {
    color: blue;
    font-family:Arial;
    font-size: 160%;
    font: bold;
}
