body {
    background-color: powderblue;
    ;
}


h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}

h2 {
    color: black;
    font-family: Verdana;
    font-size: 200%;
}


p {
    color: blue;
    font-family:Arial;
    font-size: 160%;
    font: bold;
}
